@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeColor {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

.box{
    background-color: aqua;
    display: flex;
}

.box:hover{
    width: 200px;
    height: 200px;
}

.flex-item:nth-child(2) {
  order: -1; /* Place this item first visually */
}